* {
	font-family: Nunito;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	padding: 0%;
	margin: 0%;
}

h1 {
	text-decoration: underline;
}

h1, h2, h3 {
	padding: 2.9%;
}

.nopadding {
	padding: 0%;
}

.container {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	float: left;
}
.centertext {
	text-align: center;
}

.whitetext {
	color: white;
}

.blacktext {
	color: black;
}

/*CSS for Hamburger NAV*/

main {
	z-index: 100;
	width: 100%;
	height: 17%;
	background-color: white;
	position: fixed;

}

.logo {
	position: fixed;
	width: 25%;
	padding: 20px;
	float: left;

}

.mainNav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
}

.mainNav.responsive {
	background-color: white;
	position: relative;
	width: 50%;
	float: right;
	padding: 43px 30px;
}

.icon {
	color: black;
	text-decoration: none;
	float: right;
	margin: 38px 30px;

}


.mainNav a {display: none;}

.mainNav a.icon {
		float: right;
		display: inline;
}

.mainNav.responsive .icon {
		float: left;
		position: absolute;
		right:0;
		top:0;
		padding: 30px 30px 30px 30px;
}
.mainNav.responsive a {
		font-family: Nunito;
		font-size: 20px;
		text-decoration: none;
		color: black;
		display: inline-block;
		text-align: center;
		margin: 17px;
}

.mainNav.responsive a .logo {
		text-decoration: none;
		color: black;
		display: block;
		text-align: center;
		margin: 0px;
}

/* END of CSS for NAV */


/* CSS for HOME PAGE */

#homePage {
	background-image: url('../Images/BGIceCream.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

#homeScreenLogo {
	position: absolute;
	width: 50%;
	margin: auto;
	top: 20%;
	left: 25%;
}

#homeScreenLogo img{
	position: absolute;
	width: 100%;
	height: auto;
	

}

/* END CSS for HOME PAGE */


/* CSS for MENU */
#menu {
	background-color: #E21C21;
}

.column1, .column2, .column3 {
	position: relative;
	top: 150px;
	width: 30%;
	float: left;
	margin: 1%;
	text-align: center;
	border: solid white;
	z-index: 99;
}

.innercolumn1, .innercolumn2 {
	width: 23%;
	float: left;
	margin: 1%;
	text-align: center;
	display: block;
	box-sizing: border-box;
}

.steps {
    margin: 15px auto;
    z-index: 99;
}
/* END CSS for MENU */


/* CSS for CONTACT US */
#contactus {
	background-color: #E21C21;
}

.leftcolumn, .rightcolumn {
	position: relative;
	top: 150px;
	width: 43%;
	float: left;
	margin: 1%;
	text-align: center;
	z-index: 99;
}

input {
	width: 25%;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

input #submit {
	width: 20%;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

form {
	margin: 6% 1%;
}
textarea {
	width: 100%;
	height: 200px;
	font-size: 15px;
	box-sizing: border-box;
	text-align: left;
}

a i{
	
	margin: 50px 50px;	
	text-decoration: none;
	color: white;
}

a:hover i {
	color: blue;
}
/* END CSS for CONTACT US */


/* CSS for PHOTO GALLERY */
#photogallery {
	background-color: #E21C21;
}

.gallery {
	position: relative;
	top: 20%;
	display:flex;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

figure {
	width: 20%;
	margin: 1%;
	padding: 2%;
	box-sizing: border-box;
	background-color: white;
}

figure img{
	width: 100%;
	border: 1px solid black;
}

figure figcaption{
	font-size: 20px;
	text-align: center;
	padding: 8px 4px;
}
/* END CSS for PHOTO GALLERY */


/* CSS for ABOUT US */
.bodyAbout {
	background-color: #E21C21; 
}

.aboutContainer {
	position: relative;
	top: 150px;
}

.aboutUs p {
font-family: Nunito;
text-align: center;
font-size: 50px;
text-decoration: underline;
}

.Polaroid {
	width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 50px;
    font-size: 25px;
    padding-top: 30px;
     float: left;
    border: solid black;
}

.polContainer {
  text-align: center;
  padding: 25px;
  padding-left: 30px;
  }

.aboutBio {
	font-family: Nunito;
	float: right;
	width: 45%;
	margin: 52px;
	margin-top: 50px;
	margin-right: 20px;
	padding-right: 30px;
	padding-left: 10px;
	border: double white;
	border-width: 10px;
		}

.aboutBio h1 {
	text-align: center;
}

p {
	font-size: 30px;
	}

.googleMap {
	float: right;
	padding-top: 15px;
	margin-right: 50px;
	border: double white;
	border-width: 10px;
	}



/* Tablet Media Queries */

@media only screen and (max-width: 992px) {

	   .column1, .column2, .column3, .innercolumn1, .innercolumn2 {
   		width: 99%;
   		float: none;
   		margin: 1% auto;
   		text-align: center;
   }

   .innercolumn1, .innercolumn2 {
   		display: block;
   }

   figure {
		width: 48%;
		margin: 1% auto;
		padding: 2%;
		box-sizing: border-box;
		background-color: white;
	}

	figure img {
		width: 100%;
		border: 1px solid black;
	}

	.leftcolumn, .rightcolumn {
	width: 98%;
	float: left;
	margin: 1%;
	text-align: center;
}

input {
	width: 25%;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

form {
	margin: 6% 1%;
}
textarea {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

#submit {
	width: 25%;
}

main .mainNav {
	position: fixed;
	left: 15%;
	top: 100%;
	
}

#homeScreenLogo {
	position: absolute;
	width: 50%;
	margin: auto;
	top: 40%;
	left: 25%;
}

#homeScreenLogo img{
	position: absolute;
	width: 100%;
	height: auto;
	margin: 20px auto;
	top: 30%;

}
    
}

@media only screen and (max-width: 800px) {
	.aboutBio {
		width: 75%;
		text-align: center;
			}
	.Polaroid {
		width: 80%;
		margin-left: 40px;
		padding-right: 1px;
		padding-left: 1px;
		}
	.googleMap {
		width: 75%;
		text-align: center;
		}
	}

/* End Tablet Media Queries */


/* Phone Media Queries */

@media only screen and (max-width: 600px) {
    
   .column1, .column2, .column3, .innercolumn1, .innercolumn2 {
   		width: 98%;
   		float: none;
   		margin: 1% auto;
   		text-align: center;
   }

   .innercolumn1, .innercolumn2 {
   		display: block;
   }

   figure {
		width: 96%;
		margin: 1% auto;
		padding: 2%;
		box-sizing: border-box;
		background-color: white;
	}

	figure img {
		width: 100%;
		border: 1px solid black;
	}

	.leftcolumn, .rightcolumn {
	width: 98%;
	float: left;
	margin: 1%;
	text-align: center;
}

input {
	width: 75%;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

form {
	margin: 6% 1%;
}
textarea {
	width: 100%;
	box-sizing: border-box;
}

#submit {
	width: 25%;
}

main .mainNav {
	position: fixed;
	top: 100%;
	left: 30%;
}


}

@media only screen and (max-width: 600px) {
	.aboutBio {
		width: 75%;
		text-align: center;
			}
	.Polaroid {
		width: 80%;
		margin-left: 40px;
		padding-right: 1px;
		padding-left: 1px;

	}
	.googleMap {
		text-align: center;
		float: left;
		margin-left: 20px;
		width: 86%;		
		}
	}

#homeScreenLogo img{
	position: absolute;
	width: 100%;
	height: auto;
	margin: 20px auto;
	top: 30%;

}

/* End Phone Media Queries */
